# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.atom-commander': [
    {
      'label': 'Select'
      'submenu': [
        {
          'label': 'All'
          'command': 'atom-commander:select-all'
        }
        {
          'label': 'None'
          'command': 'atom-commander:select-none'
        }
        {
          'label': 'Invert'
          'command': 'atom-commander:select-invert'
        }
        {
          'label': 'Folders'
          'command': 'atom-commander:select-folders'
        }
        {
          'label': 'Files'
          'command': 'atom-commander:select-files'
        }
      ]
    }
    {
      'label': 'Compare'
      'submenu': [
        {
          'label': 'Folders'
          'command': 'atom-commander:compare-folders'
        }
        {
          'label': 'Files'
          'command': 'atom-commander:compare-files'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Commander'
      'submenu': [
        {
          'label': 'Toggle Focus'
          'command': 'atom-commander:toggle-focus'
        }
        {
          'label': 'Toggle Visible'
          'command': 'atom-commander:toggle-visible'
        }
      ]
    ]
  }
]
