# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'f9': 'atom-commander:toggle-focus'
  'f10': 'atom-commander:toggle-visible'

'.atom-commander':
  'f2': 'atom-commander:rename'
  'f3': 'atom-commander:add-project'
  'shift-f3' : 'atom-commander:remove-project'
  'f4': 'atom-commander:new-file'
  'f5': 'atom-commander:copy'
  'shift-f5': 'atom-commander:duplicate'
  'f6': 'atom-commander:move'
  'f7': 'atom-commander:new-folder'
  'f8': 'atom-commander:delete'
  'tab': 'atom-commander:focus-other-view'
  'ctrl-tab': 'atom-commander:mirror'
  'ctrl-shift-c': 'atom-commander:copy-paths'
  'ctrl-alt-c': 'atom-commander:copy-path-names'
  'ctrl-left': 'atom-commander:previous-tab'
  'ctrl-right': 'atom-commander:next-tab'
  'ctrl-shift-left': 'atom-commander:shift-tab-left'
  'ctrl-shift-right': 'atom-commander:shift-tab-right'

'.atom-commander, .atom-commander atom-text-editor':
  'ctrl-t': 'atom-commander:add-tab'
  'ctrl-r': 'atom-commander:remove-tab'

'.platform-darwin .atom-commander':
  'cmd-shift-c': 'atom-commander:copy-paths'
  'cmd-alt-c': 'atom-commander:copy-path-names'
  'cmd-left': 'atom-commander:previous-tab'
  'cmd-right': 'atom-commander:next-tab'
  'cmd-shift-left': 'atom-commander:shift-tab-left'
  'cmd-shift-right': 'atom-commander:shift-tab-right'

'.platform-darwin .atom-commander, .platform-darwin .atom-commander atom-text-editor':
  'cmd-t': 'atom-commander:add-tab'
  'cmd-r': 'atom-commander:remove-tab'

'.atom-commander-container-view':
  'enter': 'atom-commander:open-highlighted-item'
  'ctrl-enter': 'atom-commander:open-highlighted-item-native'
  'cmd-enter': 'atom-commander:open-highlighted-item-native'
  'backspace': 'atom-commander:open-parent-folder'
  'left': 'atom-commander:highlight-first-item'
  'right': 'atom-commander:highlight-last-item'
  'home': 'atom-commander:highlight-first-item'
  'end': 'atom-commander:highlight-last-item'
  'pageup': 'atom-commander:page-up'
  'pagedown': 'atom-commander:page-down'
  'space': 'atom-commander:select-item'
