# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'f9': 'atom-commander:toggle'

'.atom-commander':
  'f3': 'atom-commander:add-project'
  'f9': 'atom-commander:hide'

'.list-view':
  'enter': 'atom-commander:open-highlighted-item'
  'backspace': 'atom-commander:open-parent-directory'
  'tab': 'atom-commander:focus-other-view'
  'left': 'atom-commander:highlight-first-item'
  'right': 'atom-commander:highlight-last-item'
  'home': 'atom-commander:highlight-first-item'
  'end': 'atom-commander:highlight-last-item'
  'pageup': 'atom-commander:page-up'
  'pagedown': 'atom-commander:page-down'
